@tailwind base;
@tailwind components;
@tailwind utilities;

.homeBanner {
  background: -webkit-linear-gradient(bottom left, #ffffff 0%, #a2bcf4 100%);
  background: -moz-linear-gradient(bottom left, #ffffff 0%, #a2bcf4 100%);
  background: -o-linear-gradient(bottom left, #ffffff 0%, #a2bcf4 100%);
  background: linear-gradient(to top right, #ffffff 0%, #a2bcf4 100% 100%);
}
